{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Орталықтың Меморандумдары' %}
{% endblock %}

{% block content %}
    <div class="page-title aos-init aos-animate" data-aos="fade">
        <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-8">
                        <h1>{% trans 'Орталықтың Меморандумдары' %}<br></h1>
                        <p class="mb-0">
                            {% trans 'ЖОҒАРЫ БІЛІМ БЕРУДІ ДАМЫТУ ҰЛТТЫҚ ОРТАЛЫҒЫ' %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <nav class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{% url 'app:home' %}">{% trans 'Басты' %}</a></li>
                    <li><a href="{% url 'app:about' %}">{% trans 'Орталық туралы' %}</a></li>
                    <li class="current">{% trans 'Орталықтың Меморандумдары' %}<br></li>
                </ol>
            </div>
        </nav>
    </div>

    <section class="section">
        <div class="container">
            <h4>{% trans 'Пресс - релиз, 2023 жылғы 2 мамырда' %}</h4>
            <div>
                <p>
                    {% blocktrans %}
                        Бүгін, 2023 жылғы 2 мамырда, Жоғары білім беруді дамыту ұлттық орталығының директоры А.А.
                        Мухатаев
                        пен Еңбек ресурстарын дамыту орталығының президенті Д.Р. Аргандыков, Қазақстан Республикасы
                        Ғылым
                        және жоғары білім министрлігінің «Жоғары білім беруді дамыту ұлттық орталығы» ШЖҚ РМК мен
                        Қазақстан
                        Республикасы Еңбек және халықты әлеуметтік қорғау министрлігінің «Еңбек ресурстарын дамыту
                        орталығы»
                        АҚ арасында ынтымақтастық және өзара іс-қимыл туралы Меморандумға қол қойды.
                    {% endblocktrans %}
                </p>

                <p>
                    {% blocktrans %}
                        Ынтымақтастық білім беру бағдарламаларын әзірлеу кезінде кәсіби стандарттарды пайдалануда және
                        Ұлттық
                        біліктілік жүйесін іске асыруда тараптардың тиімді өзара іс-қимылына бағытталған.
                    {% endblocktrans %}
                </p>

                <p>
                    {% blocktrans %}
                        Екі орталықтың бірлескен қызметі Ұлттық біліктілік жүйесі мен білікті кадрларды даярлау жүйесін
                        әдіснамалық қолдауды қалыптастыру үшін негіз болады.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
    </section>

{% endblock %}