{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Қоғамдық өмір' %}
{% endblock %}

{% block content %}
    <div class="page-title aos-init aos-animate" data-aos="fade">
        <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-8">
                        <h1>{% trans 'Қоғамдық өмір' %}<br></h1>
                        <p class="mb-0">
                            {% trans 'ЖОҒАРЫ БІЛІМ БЕРУДІ ДАМЫТУ ҰЛТТЫҚ ОРТАЛЫҒЫ' %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <nav class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{% url 'app:home' %}">{% trans 'Басты' %}</a></li>
                    <li><a href="{% url 'app:about' %}">{% trans 'Орталық туралы' %}</a></li>
                    <li class="current">{% trans 'Қоғамдық өмір' %}<br></li>
                </ol>
            </div>
        </nav>
    </div>

    <section class="section">
        <div class="container">
            <h4>{% trans 'Бірге – таза Қазақстан' %}</h4>
            <div>
                <p>
                    {% blocktrans %}
                        Біздің өміріміздегі жасыл желектердің рөлін бағалау мүмкін емес. Олар адам өміріне әсер етіп
                        қана
                        қоймайды, сонымен бірге экологиялық қауіпсіздіктің кепілі болып табылады. «Бірге - таза
                        Қазақстан!»
                        экологиялық акциясы аясында 2021 жылы 1 мамырда Болон процесі және академиялық ұтқырлық орталығы
                        жалпықалалық сенбілікке қатысты, сенбіліктің форматы - ағаш отырғызу. Бұл ағаш отырғызу науқаны
                        көгалдандыру мен қоршаған ортаны қорғаудың тағы бір жарқын мысалы болды.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
    </section>

{% endblock %}