{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Стратегиясы және міндеті' %}
{% endblock %}

{% block content %}
    <div class="page-title aos-init aos-animate" data-aos="fade">
        <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-8">
                        <h1>{% trans 'Стратегиясы және міндеті' %}<br></h1>
                        <p class="mb-0">
                            {% trans 'ЖОҒАРЫ БІЛІМ БЕРУДІ ДАМЫТУ ҰЛТТЫҚ ОРТАЛЫҒЫ' %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <nav class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{% url 'app:home' %}">{% trans 'Басты' %}</a></li>
                    <li><a href="{% url 'app:about' %}">{% trans 'Орталық туралы' %}</a></li>
                    <li class="current">{% trans 'Стратегиясы және міндеті' %}<br></li>
                </ol>
            </div>
        </nav>
    </div>

    <section class="section">
        <div class="container">
            <div class="page__content">
                <h1 class="pageName">{% trans 'Стратегиясы және міндеті' %}</h1>
                <div class="secretary__block directors">
                    <p><strong>{% trans 'Миссия' %}</strong><br>
                        {% blocktrans %}
                            Қазақстанның жоғары және жоғары оқу орнынан кейінгі білім беру жүйесіне Болон процесі
                            параметрлерін ендіруді ғылыми-әдістемелік және ақпараттық-талдамалық қолдау.
                        {% endblocktrans %}
                    </p>
                </div>
                <iframe src="{% static 'app/docs/strategy_cbp_am_2020.pdf' %}" width="100%" height="600px">
                    {% trans 'Этот браузер не поддерживает PDF просмотр.' %}
                </iframe>
            </div>
        </div>
    </section>

{% endblock %}