{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'ЖОО' %}
{% endblock %}

{% block content %}
    <div class="page-title aos-init aos-animate" data-aos="fade">
        <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-8">
                        <h1>{% trans 'ЖОО тізімі' %}<br></h1>
                        <p class="mb-0">
                            {% trans 'ЖОҒАРЫ БІЛІМ БЕРУДІ ДАМЫТУ ҰЛТТЫҚ ОРТАЛЫҒЫ' %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <nav class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{% url 'app:home' %}">{% trans 'Басты' %}</a></li>
                    <li class="current">{% trans 'ЖОО тізімі' %}<br></li>
                </ol>
            </div>
        </nav>
    </div>
    <section class="section">
        <div class="container">
            <input type="text" id="search" class="form-control text-center" placeholder="{% trans 'Іздеу' %}"/>
            <hr>
            <table class="table table-bordered" id="universityTable">
                <thead class="text-center">
                <tr>
                    <th class="header">№</th>
                    <th class="header">Название</th>
                    <th class="header">Область / Город</th>
                    <th class="header">Сайт</th>
                </tr>
                </thead>
                <tbody>
                <!-- Группа: 11 - Национальные вузы -->
                <tr>
                    <th class="group text-center bg-primary-subtle" colspan="4">Национальные вузы (11)</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Евразийский национальный университет им. Л.Н.Гумилева</td>
                    <td>Г Астана</td>
                    <td><a href="http://enu.kz" target="_blank">enu.kz</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Казахская национальная академия искусств им. Т. Жургенова</td>
                    <td>Г Алматы</td>
                    <td><a href="http://talapker.kaznai.kz" target="_blank">talapker.kaznai.kz</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Казахская национальная академия хореографии</td>
                    <td>Г Астана</td>
                    <td><a href="http://balletacademy.edu.kz" target="_blank">balletacademy.edu.kz</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Казахская национальная консерватория им. Курмангазы</td>
                    <td>Г Алматы</td>
                    <td><a href="http://conservatoire.edu.kz" target="_blank">conservatoire.edu.kz</a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Казахский национальный аграрный исследовательский университет</td>
                    <td>Г Алматы</td>
                    <td><a href="http://kaznaru.edu.kz" target="_blank">kaznaru.edu.kz</a></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Казахский национальный женский педагогический университет</td>
                    <td>Г Алматы</td>
                    <td><a href="http://qyzpu.edu.kz" target="_blank">qyzpu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Казахский национальный исследовательский технический университет им. К.И. Сатпаева</td>
                    <td>Г Алматы</td>
                    <td><a href="http://satbayev.university" target="_blank">satbayev.university</a></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Казахский национальный медицинский университет им. С.Д. Асфендиярова</td>
                    <td>Г Алматы</td>
                    <td><a href="http://kaznmu.edu.kz" target="_blank">kaznmu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Казахский национальный педагогический университет им. Абая</td>
                    <td>Г Алматы</td>
                    <td><a href="http://kaznpu.kz" target="_blank">kaznpu.kz</a></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Казахский национальный университет им. Аль-Фараби</td>
                    <td>Г Алматы</td>
                    <td><a href="http://farabi.university" target="_blank">farabi.university</a></td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Казахский национальный университет искусств</td>
                    <td>Г Астана</td>
                    <td><a href="http://kaznui.edu.kz" target="_blank">kaznui.edu.kz</a></td>
                </tr>

                <!-- Группа: 29 - Государственные -->
                <tr>
                    <th class="group text-center bg-primary-subtle" colspan="4">Государственные (29)</th>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Актюбинский региоанльный университет им. К.Жубанова</td>
                    <td>Актобе</td>
                    <td><a href="http://zhubanov.edu.kz" target="_blank">zhubanov.edu.kz</a></td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Аркалыкский педагогический институт им. И.Алтынсарина</td>
                    <td>Костанайская обл. г Аркалык</td>
                    <td><a href="http://api.edu.kz" target="_blank">api.edu.kz</a></td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Атырауский университет им. Х.Досмухамедова</td>
                    <td>Атырау</td>
                    <td><a href="http://asu.edu.kz" target="_blank">asu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Атырауский университет нефти и газа им. С.Утебаева</td>
                    <td>Атырау</td>
                    <td><a href="http://aogu.edu.kz" target="_blank">aogu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Восточно-Казахстанский университет им. С. Аманжолова</td>
                    <td>Восточно-Казахстанская область, Усть-Каменогорск</td>
                    <td><a href="http://vku.edu.kz" target="_blank">vku.edu.kz</a></td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Восточно-Казахстанский технический университет им. Д.Серикбаева</td>
                    <td>ВКО, Усть-Каменогорск</td>
                    <td><a href="http://www.ektu.kz" target="_blank">www.ektu.kz</a></td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Жетысуский университет им. И.Жансугурова</td>
                    <td>Жетысуская обл, Талдыкорган</td>
                    <td><a href="http://zhetysu.edu.kz" target="_blank">zhetysu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Западно-Казахстанский аграрно-технический университет им. Жангир хана</td>
                    <td>ЗКО, Уральск</td>
                    <td><a href="http://wkau.edu.kz" target="_blank">wkau.edu.kz</a></td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Западно-Казахстанский университет им. М.Утемисова</td>
                    <td>ЗКО, Уральск</td>
                    <td><a href="http://wku.edu.kz" target="_blank">wku.edu.kz</a></td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>Карагандинский индустриальный университет</td>
                    <td>Карагандинская обл, Темиртау</td>
                    <td><a href="http://kgiu.kz" target="_blank">kgiu.kz</a></td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>Карагандинский технический университет</td>
                    <td>Караганда</td>
                    <td><a href="http://www.kstu.kz" target="_blank">www.kstu.kz</a></td>
                </tr>
                <tr>
                    <td>23</td>
                    <td>Карагандинский университет им. академика Е.А.Букетова</td>
                    <td>Караганда</td>
                    <td><a href="http://buketov.edu.kz" target="_blank">buketov.edu.kz</a></td>
                </tr>
                <tr>
                    <td>24</td>
                    <td>Каспийский университет технологии и инжиниринга им. Ш. Есенова</td>
                    <td>Мангыстауская обл, Актау</td>
                    <td><a href="http://yu.edu.kz" target="_blank">yu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>Кокшетауский университет им. Ш.Уалиханова</td>
                    <td>Акмолинская область, Кокшетау</td>
                    <td><a href="http://shokan.edu.kz" target="_blank">shokan.edu.kz</a></td>
                </tr>
                <tr>
                    <td>26</td>
                    <td>Костанайский региональный университет им. А. Байтурсынова</td>
                    <td>Костанай</td>
                    <td><a href="http://ksu.edu.kz" target="_blank">ksu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>27</td>
                    <td>Кызылординский университет им. Коркыт Ата</td>
                    <td>Кызылорда</td>
                    <td><a href="http://korkyt.edu.kz" target="_blank">korkyt.edu.kz</a></td>
                </tr>
                <tr>
                    <td>28</td>
                    <td>Павлодарский педагогический университет</td>
                    <td>Павлодар</td>
                    <td><a href="http://ppu.edu.kz" target="_blank">ppu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>29</td>
                    <td>Торайгыров университет</td>
                    <td>Павлодар</td>
                    <td><a href="http://tou.edu.kz" target="_blank">tou.edu.kz</a></td>
                </tr>
                <tr>
                    <td>30</td>
                    <td>Рудненский индустриальный институт</td>
                    <td>Костанайская обл, Рудный</td>
                    <td><a href="http://www.rii.edu.kz" target="_blank">www.rii.edu.kz</a></td>
                </tr>
                <tr>
                    <td>31</td>
                    <td>Северо-Казахстанский университет им. М.Козыбаева</td>
                    <td>СКО, Петропавловск</td>
                    <td><a href="http://ku.edu.kz" target="_blank">ku.edu.kz</a></td>
                </tr>
                <tr>
                    <td>32</td>
                    <td>Университет им. Шакарима г. Семей</td>
                    <td>Абайская обл, Семей</td>
                    <td><a href="http://shakarim.edu.kz" target="_blank">shakarim.edu.kz</a></td>
                </tr>
                <tr>
                    <td>33</td>
                    <td>Таразский региональный университет им. М.Х.Дулати</td>
                    <td>Жамбылская обл, Тараз</td>
                    <td><a href="http://dulaty.kz" target="_blank">dulaty.kz</a></td>
                </tr>
                <tr>
                    <td>34</td>
                    <td>Южно-Казахстанский университет им. М.Ауэзова</td>
                    <td>ЮКО, Шымкент</td>
                    <td><a href="http://auezov.edu.kz" target="_blank">auezov.edu.kz</a></td>
                </tr>
                <tr>
                    <td>35</td>
                    <td>Западно-Казахстанский медицинский университет им. М. Оспанова</td>
                    <td>ЗКО, Актобе</td>
                    <td><a href="http://zkmu.edu.kz" target="_blank">zkmu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>36</td>
                    <td>Медицинский университет Караганды</td>
                    <td>Караганда</td>
                    <td><a href="http://qmu.edu.kz" target="_blank">qmu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>37</td>
                    <td>Медицинский университет г. Семей</td>
                    <td>Абайская обл, Семей</td>
                    <td><a href="http://smu.edu.kz" target="_blank">smu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>38</td>
                    <td>Южно-Казахстанская медицинская академия</td>
                    <td>ЮКО, Шымкент</td>
                    <td><a href="http://skma.edu.kz" target="_blank">skma.edu.kz</a></td>
                </tr>
                <tr>
                    <td>39</td>
                    <td>Южно-Казахстанский государственный педагогический университет</td>
                    <td>ЮКО, Шымкент</td>
                    <td><a href="http://okmpu.edu.kz" target="_blank">okmpu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>40</td>
                    <td>Международный университет туризма и гостеприимства</td>
                    <td>Туркестан</td>
                    <td><a href="http://iuth.edu.kz" target="_blank">iuth.edu.kz</a></td>
                </tr>

                <!-- Группа: 16 - АО -->
                <tr>
                    <th class="group text-center bg-primary-subtle" colspan="4">АО (16)</th>
                </tr>
                <tr>
                    <td>41</td>
                    <td>Академия гражданской авиации</td>
                    <td>Алматы</td>
                    <td><a href="http://caa.edu.kz" target="_blank">caa.edu.kz</a></td>
                </tr>
                <tr>
                    <td>42</td>
                    <td>Академия логистики и транспорта/бывш. КазАТК</td>
                    <td>Алматы</td>
                    <td><a href="http://alt.edu.kz" target="_blank">alt.edu.kz</a></td>
                </tr>
                <tr>
                    <td>43</td>
                    <td>Алматинский университет энергетики и связи им. Г. Даукеева</td>
                    <td>Алматы</td>
                    <td><a href="http://energo.university" target="_blank">energo.university</a></td>
                </tr>
                <tr>
                    <td>44</td>
                    <td>Алматинский технологический университет</td>
                    <td>Алматы</td>
                    <td><a href="http://atu.edu.kz" target="_blank">atu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>45</td>
                    <td>Жезказганский университет им. О.А.Байконурова</td>
                    <td>Жезказган</td>
                    <td><a href="http://zhezu.edu.kz" target="_blank">zhezu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>46</td>
                    <td>Казахская академия спорта и туризма</td>
                    <td>Алматы</td>
                    <td><a href="http://kazast.edu.kz" target="_blank">kazast.edu.kz</a></td>
                </tr>
                <tr>
                    <td>47</td>
                    <td>Казахский агротехнический университет им. С. Сейфуллина</td>
                    <td>Астана</td>
                    <td><a href="http://kazatu.edu.kz" target="_blank">kazatu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>48</td>
                    <td>Казахский университет международных отношений и мировых языков им. Абылай хана</td>
                    <td>Алматы</td>
                    <td><a href="http://www.ablaikhan.kz" target="_blank">www.ablaikhan.kz</a></td>
                </tr>
                <tr>
                    <td>49</td>
                    <td>Казахстанско-Британский технический университет</td>
                    <td>Алматы</td>
                    <td><a href="http://kbtu.edu.kz" target="_blank">kbtu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>50</td>
                    <td>Международная образовательная корпорация</td>
                    <td>Алматы</td>
                    <td><a href="http://mok.edu.kz" target="_blank">mok.edu.kz</a></td>
                </tr>
                <tr>
                    <td>51</td>
                    <td>Международный университет информационных технологий</td>
                    <td>Алматы</td>
                    <td><a href="http://iitu.edu.kz" target="_blank">iitu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>52</td>
                    <td>Медицинский университет Астана</td>
                    <td>Астана</td>
                    <td><a href="http://amu.edu.kz" target="_blank">amu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>53</td>
                    <td>Университет КИМЭП</td>
                    <td>Алматы</td>
                    <td><a href="http://www.kimep.kz" target="_blank">www.kimep.kz</a></td>
                </tr>
                <tr>
                    <td>54</td>
                    <td>Университет Нархоз</td>
                    <td>Алматы</td>
                    <td><a href="http://narxoz.edu.kz" target="_blank">narxoz.edu.kz</a></td>
                </tr>
                <tr>
                    <td>55</td>
                    <td>Казахский университет технологии и бизнеса</td>
                    <td>Астана</td>
                    <td><a href="http://www.kaztbu.edu.kz" target="_blank">www.kaztbu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>56</td>
                    <td>Университет КАЗГЮУ им. М.С.Нарикбаева</td>
                    <td>Астана</td>
                    <td><a href="http://mnu.kz" target="_blank">mnu.kz</a></td>
                </tr>

                <!-- Группа: 47 - Частные -->
                <tr>
                    <th class="group text-center bg-primary-subtle" colspan="4">Частные (47)</th>
                </tr>
                <tr>
                    <td>57</td>
                    <td>Astana IT University</td>
                    <td>Астана</td>
                    <td><a href="http://astanait.edu.kz" target="_blank">astanait.edu.kz</a></td>
                </tr>
                <tr>
                    <td>58</td>
                    <td>Академия "Bolashaq"</td>
                    <td>Караганда</td>
                    <td><a href="http://bolashaq.edu.kz" target="_blank">bolashaq.edu.kz</a></td>
                </tr>
                <tr>
                    <td>59</td>
                    <td>Академия Кайнар</td>
                    <td>Алматы</td>
                    <td><a href="http://q-university.edu.kz" target="_blank">q-university.edu.kz</a></td>
                </tr>
                <tr>
                    <td>60</td>
                    <td>Академия физической культуры и массового спорта</td>
                    <td>Астана</td>
                    <td><a href="http://apems.edu.kz" target="_blank">apems.edu.kz</a></td>
                </tr>
                <tr>
                    <td>61</td>
                    <td>Алматинский гуманитарно-экономический университет</td>
                    <td>Алматы</td>
                    <td><a href="http://aesa.kz" target="_blank">aesa.kz</a></td>
                </tr>
                <tr>
                    <td>62</td>
                    <td>Алматы менеджмент университет</td>
                    <td>Алматы</td>
                    <td><a href="http://almau.edu.kz" target="_blank">almau.edu.kz</a></td>
                </tr>
                <tr>
                    <td>63</td>
                    <td>Атырауский инженерно-гуманитарный институт</td>
                    <td>Атырау</td>
                    <td>?</td>
                </tr>
                <tr>
                    <td>64</td>
                    <td>Баишев Университет</td>
                    <td>ЗКО, Актобе</td>
                    <td><a href="http://site.bu.edu.kz" target="_blank">site.bu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>65</td>
                    <td>Гуманитарно-техническая академия</td>
                    <td>Кокшетау</td>
                    <td>?</td>
                </tr>
                <tr>
                    <td>66</td>
                    <td>Гуманитарно-технический институт Акмешит</td>
                    <td>Кызылорда</td>
                    <td>?</td>
                </tr>
                <tr>
                    <td>67</td>
                    <td>Евразийская юридическая академия им. Д.А.Кунаева</td>
                    <td>Алматы</td>
                    <td><a href="http://vuzkunaeva.kz" target="_blank">vuzkunaeva.kz</a></td>
                </tr>
                <tr>
                    <td>68</td>
                    <td>Евразийский гуманитарный институт</td>
                    <td>Астана</td>
                    <td><a href="http://egi.edu.kz" target="_blank">egi.edu.kz</a></td>
                </tr>
                <tr>
                    <td>69</td>
                    <td>Евразийский технологический университет</td>
                    <td>Алматы</td>
                    <td><a href="http://etu.edu.kz" target="_blank">etu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>70</td>
                    <td>Египетский университет исламской культуры Нур-Мубарак</td>
                    <td>Алматы</td>
                    <td><a href="http://www.nmu.edu.kz" target="_blank">www.nmu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>71</td>
                    <td>Екибастузский инженерно-технический институт им. академика К.Сатпаева</td>
                    <td>Павлодарская обл, Екибастуз</td>
                    <td><a href="http://eiti.edu.kz" target="_blank">eiti.edu.kz</a></td>
                </tr>
                <tr>
                    <td>72</td>
                    <td>Западно-Казахстанский инновационно-технологический университет</td>
                    <td>ЗКО</td>
                    <td><a href="http://wkitu.kz" target="_blank">wkitu.kz</a></td>
                </tr>
                <tr>
                    <td>73</td>
                    <td>Инновационный Евразийский университет</td>
                    <td>Павлодар</td>
                    <td><a href="http://ineu.edu.kz" target="_blank">ineu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>74</td>
                    <td>Казахский автомобильно-дорожный институт им. Б.Гончарова</td>
                    <td>Алматы</td>
                    <td><a href="http://kazadi.edu.kz" target="_blank">kazadi.edu.kz</a></td>
                </tr>
                <tr>
                    <td>75</td>
                    <td>Алихан Бокейхан университет</td>
                    <td>Абайская обл, Семей</td>
                    <td><a href="http://abu.edu.kz" target="_blank">abu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>76</td>
                    <td>Международный транспортно-гуманитарный университет</td>
                    <td>Алматы</td>
                    <td><a href="http://mtgu.edu.kz" target="_blank">mtgu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>77</td>
                    <td>Университет Есиль</td>
                    <td>Астана</td>
                    <td><a href="http://esil.edu.kz" target="_blank">esil.edu.kz</a></td>
                </tr>
                <tr>
                    <td>78</td>
                    <td>Казахско-Русский Международный университет</td>
                    <td>ЗКО, Актобе</td>
                    <td><a href="http://kriu.edu.kz" target="_blank">kriu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>79</td>
                    <td>Международный инженерно-технологический университет</td>
                    <td>Алматы</td>
                    <td><a href="http://metu.edu.kz" target="_blank">metu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>80</td>
                    <td>Казахстанский медицинский университет "ВШОЗ"</td>
                    <td>Алматы</td>
                    <td><a href="http://ksph.edu.kz" target="_blank">ksph.edu.kz</a></td>
                </tr>
                <tr>
                    <td>81</td>
                    <td>Казахский университет инновационных и телекоммуникационных систем</td>
                    <td>ЗКО, Уральск</td>
                    <td><a href="http://www.kazuits.edu.kz/" target="_blank">www.kazuits.edu.kz/</a></td>
                </tr>
                <tr>
                    <td>82</td>
                    <td>Казахстанско-Американский свободный университет</td>
                    <td>АКО, Усть-Каменогорск</td>
                    <td><a href="http://kafu.edu.kz" target="_blank">kafu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>83</td>
                    <td>Казахстанско-Немецкий университет</td>
                    <td>Алматы</td>
                    <td><a href="http://dku.kz/ru" target="_blank">dku.kz/ru</a></td>
                </tr>
                <tr>
                    <td>84</td>
                    <td>Казахстанско-Российский медицинский университет</td>
                    <td>Алматы</td>
                    <td><a href="http://new.krmu.edu.kz" target="_blank">new.krmu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>85</td>
                    <td>Карагандинский экономический университет Казпотребсоюза</td>
                    <td>Караганда</td>
                    <td><a href="http://www.keu.kz" target="_blank">www.keu.kz</a></td>
                </tr>
                <tr>
                    <td>86</td>
                    <td>Каспийский общественный университет</td>
                    <td>Алматы</td>
                    <td><a href="https://cu.edu.kz/" target="_blank">https://cu.edu.kz/</a></td>
                </tr>
                <tr>
                    <td>87</td>
                    <td>Кокшетауский университет им. А. Мырзахметова</td>
                    <td>Акмолинская обл, Кокшетау</td>
                    <td><a href="http://kuam.edu.kz/ru" target="_blank">kuam.edu.kz/ru</a></td>
                </tr>
                <tr>
                    <td>88</td>
                    <td>Костанайский инженерно-экономический университет им. М. Дулатова</td>
                    <td>Костанай</td>
                    <td><a href="http://kineu.edu.kz" target="_blank">kineu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>89</td>
                    <td>Костанайский социально-технический университет им. академика З. Алдамжар</td>
                    <td>Костанай</td>
                    <td><a href="http://kosstu.edu.kz" target="_blank">kosstu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>90</td>
                    <td>Кызылординский университет "Болашак"</td>
                    <td>Кызылорда</td>
                    <td><a href="http://bolashak-edu.kz" target="_blank">bolashak-edu.kz</a></td>
                </tr>
                <tr>
                    <td>91</td>
                    <td>Международный университет Астана</td>
                    <td>Астана</td>
                    <td><a href="http://aiu.kz" target="_blank">aiu.kz</a></td>
                </tr>
                <tr>
                    <td>92</td>
                    <td>Международный Таразский инновационный университет</td>
                    <td>Тараз</td>
                    <td>?</td>
                </tr>
                <tr>
                    <td>93</td>
                    <td>Университет "Туран"</td>
                    <td>Алмата</td>
                    <td><a href="http://www.turan-edu.kz" target="_blank">www.turan-edu.kz</a></td>
                </tr>
                <tr>
                    <td>94</td>
                    <td>Университет "Туран-Астана"</td>
                    <td>Алматы</td>
                    <td><a href="http://tau-edu.kz" target="_blank">tau-edu.kz</a></td>
                </tr>
                <tr>
                    <td>95</td>
                    <td>Университет «Сырдария»</td>
                    <td>Туркестанская обл, Жетысу</td>
                    <td>?</td>
                </tr>
                <tr>
                    <td>96</td>
                    <td>Университет дружбы народов им. академика А.Куатбекова</td>
                    <td>ЮКО, Шымкент</td>
                    <td><a href="http://udn.edu.kz" target="_blank">udn.edu.kz</a></td>
                </tr>
                <tr>
                    <td>97</td>
                    <td>Университет им. С. Демиреля</td>
                    <td>Алматы</td>
                    <td><a href="http://sdu.edu.kz" target="_blank">sdu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>98</td>
                    <td>Университет международного бизнеса</td>
                    <td>Алматы</td>
                    <td><a href="http://uib.edu.kz" target="_blank">uib.edu.kz</a></td>
                </tr>
                <tr>
                    <td>99</td>
                    <td>Университет "Мирас"</td>
                    <td>ЮКО, Шымкент</td>
                    <td><a href="http://miras.edu.kz" target="_blank">miras.edu.kz</a></td>
                </tr>
                <tr>
                    <td>100</td>
                    <td>Центрально-Азиатский инновационный университет</td>
                    <td>ЮКО, Шымкент</td>
                    <td><a href="http://caiu.edu.kz" target="_blank">caiu.edu.kz</a></td>
                </tr>
                <tr>
                    <td>101</td>
                    <td>Центрально-Казахстанская академия</td>
                    <td>Караганда</td>
                    <td><a href="http://c-k-a.edu.kz" target="_blank">c-k-a.edu.kz</a></td>
                </tr>
                <tr>
                    <td>102</td>
                    <td>Шымкентский университет</td>
                    <td>ЮКО, Шымкент</td>
                    <td><a href="http://univershu.edu.kz/kz" target="_blank">univershu.edu.kz/kz</a></td>
                </tr>

                <!-- Группа: 1 - Международный -->
                <tr>
                    <th class="group text-center bg-primary-subtle" colspan="4">Международный (1)</th>
                </tr>
                <tr>
                    <td>103</td>
                    <td>Международный казахско-турецкий университет им. Х.А.Ясави</td>
                    <td>Туркестан</td>
                    <td><a href="http://ayu.edu.kz" target="_blank">ayu.edu.kz</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}


{% block script %}
    <script>
        document.getElementById('search').addEventListener('keyup', function () {
            let filter = this.value.toLowerCase();
            let rows = document.querySelectorAll('#universityTable tbody tr');
            rows.forEach(row => {
                row.style.display = row.textContent.toLowerCase().includes(filter) ? '' : 'none';
            });
        });
    </script>
{% endblock %}