{% extends 'base.html' %}

{% block title %}
    Киру
{% endblock %}

{% block content %}
    <div class="page-title aos-init aos-animate" data-aos="fade">
        <nav class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{% url 'app:home' %}">Басты</a></li>
                    <li class="current">Киру<br></li>
                </ol>
            </div>
        </nav>
    </div>

    <section class="section">
        <div class="container">
            <form method="post" class="aos-init aos-animate"
                  data-aos="fade-up" data-aos-delay="200">
                {% csrf_token %}
                <div class="row gy-4 justify-content-center flex-column align-items-center">
                    <div class="col-md-6">
                        <input type="email" name="username" class="form-control" placeholder="Почта" required="">
                    </div>
                    <div class="col-md-6">
                        <input type="password" class="form-control" name="password1" placeholder="Купиясоз" required="">
                    </div>
                    <div class="col-md-6">
                        <input type="password" class="form-control" name="password2" placeholder="Купиясоз" required="">
                    </div>
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn text-white" style="background: var(--accent-color)">
                            Регистрация
                        </button>
                    </div>
                </div>
            </form>
            <hr>
            <span class="text-center d-block">
                Аккаунт бар ма?
                <br><a href="{% url 'login' %}">Киру</a>
            </span>
        </div>
    </section>
{% endblock %}