{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Тіркелу' %}
{% endblock %}

{% block content %}
    <div class="page-title aos-init aos-animate" data-aos="fade">
        <nav class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{% url 'app:home' %}">{% trans 'Басты' %}</a></li>
                    <li class="current">{% trans 'Кіру' %}<br></li>
                </ol>
            </div>
        </nav>
    </div>

    <section class="section">
        <div class="container">
            <form method="post" class="aos-init aos-animate"
                  data-aos="fade-up" data-aos-delay="200">
                {% csrf_token %}
                <div class="row gy-4 justify-content-center flex-column align-items-center">
                    <div class="col-md-6">
                        <input type="email" name="username" class="form-control" placeholder="Email" required="">
                    </div>
                    <div class="col-md-6">
                        <input type="password" class="form-control" name="password1"
                               placeholder="{% trans 'Құпиясөз' %}" required="">
                    </div>
                    <div class="col-md-6">
                        <input type="password" class="form-control" name="password2"
                               placeholder="{% trans 'Құпиясөз' %}" required="">
                    </div>
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn text-white" style="background: var(--accent-color)">
                            {% trans 'Тіркелу' %}
                        </button>
                    </div>
                </div>
            </form>
            <hr>
            <span class="text-center d-block">
                {% trans 'Тіркелгенсіз бе' %}?
                <br><a href="{% url 'login' %}">{% trans 'Кіру' %}</a>
            </span>
        </div>
    </section>
{% endblock %}