{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans 'Жаңалыктар' %}
{% endblock %}

{% block content %}
    <div class="page-title aos-init aos-animate" data-aos="fade">
        <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-8">
                        <h1>{% trans 'Жаңалыктар' %}<br></h1>
                        <p class="mb-0">
                            {% trans 'ЖОҒАРЫ БІЛІМ БЕРУДІ ДАМЫТУ ҰЛТТЫҚ ОРТАЛЫҒЫ' %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <nav class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{% url 'app:home' %}">{% trans 'Басты' %}</a></li>
                    <li class="current">{% trans 'Жаңалыктар' %}<br></li>
                </ol>
            </div>
        </nav>
    </div>
    <section id="courses" class="courses section">

        <div class="container">

            <div class="row">
                {% for article in articles %}
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="zoom-in"
                         data-aos-delay="100">
                        <div class="course-item">
                            <img src="{% if article.img %}{{ article.img.url }}{% else %}{% static 'app/img/enic.png' %}{% endif %}" class="img-fluid" alt="{{ article.title }}" style="height: 250px">
                            <div class="course-content">
                                <h3><a href="{{ article.get_absolute_url }}">{{ article.title|default:'' }}</a></h3>
                                <p class="description">{{ article.content|truncatewords:10 }}</p>
                            </div>
                        </div>
                    </div> <!-- End Course Item-->
                {% endfor %}
            </div>

        </div>

    </section>
{% endblock %}